.top-container
  background-color: #F5F7F8

.mainview
  margin:
    left: $gutter + $column
    right: $gutter + $column
  position: fixed

.bar .header-title
  font-size: 10px
  line-height: 44px
  text-align: center
  color: $dark
  font-weight: 700

h5 
  font-family: WeatherAndTime
  font-size: 28px
  margin-top: 6px
  +mq(md)
    font-size: 28 * ( 375 / 414 ) * 1px
    margin-top: 4px
  +mq(sm)
    font-size: 28 * ( 320 / 414 ) * 1px
    margin-top: 4px

.ion-ios-location-outline
  color: $dark
  line-height: 24px
  font-size: 22.5px
  line-height: 32px
  margin:
    right: $gutter * 2
    top: 2px
  +mq(md)
    font-size: 20.38043px
    line-height: 24px
    margin-top: 3px
  +mq(sm)
    font-size: 17.3913px
    line-height: 24px
    margin-top: 1px


.location
  margin:
    top: $baseline * 3
  display: flex
  flex-direction: row
  h3
    // color: $positive
    @extend %muli-medium
  +mq(sm)
    top: $baseline * 2
  +mq(md)
    top: $baseline * 2

main
  margin:
    top: 50%
  h2
    color: $darker


.left-side
  float: left

.current-temperature
  display: flex
  flex-flow: row
  margin:
    top: $baseline
  h5
    margin:
      left: $gutter * 2
      right: $gutter * 3
  h3
    white-space: nowrap

.right-side
  float: right

.temperature-hi-lo
  text-align: right
  h3
    margin-top: $baseline
