/* Empty. Add your own CSS if you like */
.tabs-top > .tabs, .tabs.tabs-top {
  top: 0;
}

.tabs {
  height: 88px;
  display: flex; }
  @media (min-width: 320px) and (max-width: 375px) {
    .tabs {
      height: 88px; } }
  @media (max-width: 320px) {
    .tabs {
      height: 80px; } }

.tab-item {
  max-height: 100%;
  max-width: 41.25%;
  width: 41.25%;
}

.scroll {
  height: 100vh;
}

.slider {
  height: 100vh;
}

ion-slide {
  height: 100vh;
}